/* ---- typography ---- */

body {
    font-family: 'Open Sans', sans-serif;
}


h1 {
    color: white;
    text-align: center;
    width: 50%; 
    margin-left: auto; 
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
           
}

p {
    text-align: justify;
    width: 50%; 
    margin-left: auto; 
    margin-right: auto;

}

ul {
    text-align: justify;
    width: 50%; 
    margin-left: auto; 
    margin-right: auto
}

h3 { 
    text-align: justify;
    width: 50%; 
    margin-left: auto; 
    margin-right: auto; 
    font-weight: 500;
    padding-top: 20px;
}


.img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px; 
}

.border-style{
    border-top: 2px solid;
    border-top-color: darkgray;
}

.img2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
}


.landing-page-wrapper {
    max-width: 1260px;
    margin: 0 auto;
}

.full-width {
    width: 100%; 
    position: relative;
}

.section-module {  
    position: relative;
    width: 100%;  
  }

  .section-module picture { 
    position: relative; 
    display: block; 
  }
  .section-module img {
    width: 100%;
    display: block;
    outline: 0;
  }

.custom-positioning {
    position: absolute; 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.main-heading {
    text-align: center;
    font-size: 44px;
    color: #ffff; 
    text-transform: uppercase;
}
/* ---- layout ---- */

#site-header {}

#site-footer {}

#site-main {}


/* ---- components ---- */